.header-button{ 
    outline: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor:pointer;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 0.5rem 1.5rem;

    &:hover{
        background-color: rgb(173, 25, 25);
        -webkit-box-shadow: 3px 3px 10px 3px #ddd;
        -moz-box-shadow: 3px 3px 10px 3px #ddd;
        box-shadow: 3px 3px 10px 3px #ddd;
    }
}

.form-button{
    outline: 1px;
    border: none;
    text-transform: uppercase;
    padding: 0.8rem 1.8rem;
    background-color:gray;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    cursor:pointer;
        &:hover{
        background-color:rgb(90, 90, 90);
        -webkit-box-shadow: 5px 3px 16.5px 9.5px #c7c7c7;
        -moz-box-shadow: 5px 3px 12px 6px #c7c7c7;
        box-shadow: 5px 3px 12px 6px #c7c7c7;
}
}

.destaque-button{
    outline: 1px;
    border: 2px solid white;
    font-family: 'Oswald', sans-serif;
    padding: 0.5rem 1.5rem;
    background-color:transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor:pointer;

    &:hover{
        background-color:$color-destaque;
        border: 2px solid $color-principal;
}
}

.wrapper {
    display: flex;
    justify-content: center;
    }

.main-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: $color-secundario;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border-radius: 8px;

    &:focus {
        outline: none; 
    }

    &:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 $color-principal;
        color: $color-principal;
    }

    & span:nth-child(2) {
        transition: 0.5s;
        margin-right: -25px;
    }

    &:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: -10px;
    }
}