footer{
    height: 100%;
    background-color: $color-footer;
    padding: 30px 0px 10px 0px;
    & p{
        color: lightgray;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 12px;
        padding: 0;
    }
}

.footer-logo-img{
    width: 140px;
}

.footer-menu{
    margin-bottom: 0;
    padding-left: 0;
& li{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    list-style: none;
}
}

/* unvisited link */
.footer-menu-lista:link {
    color: white; 
    text-decoration: none;
}

  /* visited link */
.footer-menu-lista:visited {
    color: white;
}

  /* mouse over link */
.footer-menu-lista:hover {
    color: red;
}

  /* selected link */
.footer-menu-lista:active {
    color: rgb(68, 68, 68);
}

.footer-centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}






/* SOCIAL MEDIA FOOTER */
@font-face {
	font-family: 'icomoon';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
		url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.social-networks {
  margin: 0px 0 0px;
  padding: 0;
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 7px 7px;
    width: 48px;
    height: 48px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      color: green;
      background-color: $color-principal;
      transition: all 400ms;
    }

    &:after {
      position: relative;
      display: block;
      font-family: 'icomoon';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $color-destaque;
      font-size: 26px;
      line-height: 48px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
  
  &.spin-icon a:hover:after, &.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
  }
  

  $networks: linkedin '\eac9' $color-secundario, github '\eab1' $color-secundario, instagram '\e604' $color-secundario;
  
  @each $network in $networks {
     .icon-#{nth($network, 1)} {
       &:after {
         content: '#{nth($network, 2)}';
      }

      &:hover:before, &:focus:before {
        background: nth($network, 3);
      }
    }
  }
}

