@mixin secciones($bg-color, $padding, $margin){
    background-color: $bg-color;
    text-align: center;
    overflow: hidden;
    padding: $padding;
    margin: $margin;
}

.seccion-texto{
    @include secciones($color-fundo-claro, 30px 70px 30px 70px, 70px 0px 120px 0px);
}

.seccion-destaque{
    @include secciones($color-fundo-oscuro, 95px 0px 160px 0px, 70px 0px 0px 0px);
    background: -webkit-linear-gradient(0deg, #0c0e2d 0%, #04061b 50%, #020317 100%);
    background: linear-gradient(0deg, #0c0e2d 0%, #04061b 50%, #020317 100%);
    -webkit-box-shadow: -0.5px -1px 19px -2.5px #3a3a3a;
    -moz-box-shadow: -0.5px -1px 19px -2.5px #3a3a3a;
    box-shadow: -0.5px -1px 19px -2.5px #3a3a3a;
    & p{
        color: $color-texto-claro;
    }
}

.seccion-marcas{
    text-align: center;
    overflow: hidden;
}

/*CENTRAR IMG SERVICIOS Y PRODUCTOS*/
.centrar-img{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


