

$color-destaque: #EA3546;
$color-principal: #FBC638;
$color-secundario: #6225E6;
$color-fundo-oscuro: white;
$color-fundo-claro: white;
$color-footer: rgb(20,29,38);
$color-texto: black;
$color-texto-claro:white;
$color-texto-destaque: #ff8800;
