$color-destaque: #ea3546;
$color-principal: #fbc638;
$color-secundario: #6225e6;
$color-fundo-oscuro: white;
$color-fundo-claro: white;
$color-footer: rgb(20, 29, 38);
$color-texto: black;
$color-texto-claro: white;
$color-texto-destaque: #ff8800;
